/* Title */
body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 25px;
    text-align: center;
}

h3 {
    font-size: 18px;
    text-align: center;
}

/* Email */
.email {
    text-align: center;
}

/* Projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.current-projects, .previous-projects {
    flex-basis: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
  
.current-projects li {
    margin: 10px 0;
    text-align: left;
    padding-left: 20px;
}

.previous-projects li {
    margin: 10px 0;
    text-align: right;
    padding-left: 20px;
}

.b1 {
    flex-basis: 100%;
    text-align: left;
}
  
.b2 {
    flex-basis: 100%;
    text-align: right;
    margin-top: 30px;
}

/* Languages, Stacks, Tools, Software */
h3.tools {
    margin-bottom: 16px;
    text-align: center;
}

.language-images {
    margin: 0 auto; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center; 
    max-width: 600px;
}

.language-images a {
    padding-bottom: 10px;
}
